.header-container {
    display: flex;
    height: 50px;
    justify-content: space-between; 
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    background-color: #ccf1d9;
    margin-bottom: 20px;
}

.header-button {
    padding: 0.5rem 1rem;
    height: auto;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #38a169;
}

.header-button:hover {
    opacity: 75%;
}

.buttons-container {
    display: flex;
    gap: 10px;
}


.current-user {
    font-size: 18px;
    font-weight: bold;
    color: rgb(53, 53, 53);
}