.header-container {
    display: flex;
    height: 50px;
    justify-content: space-between; 
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    background-color: rgb(237, 237, 239);
    margin-bottom: 20px;
}

.logout-button {
    padding: 0.5rem 1rem;
    height: auto;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #38a169;
}

.logout-button:hover {
    opacity: 75%;
}



.current-user {
    font-size: 18px;
    font-weight: bold;
}