/**
 * @description CSS for Login page.
 * 
 * @author rishavsarma5
 */

.login-container {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; 
  padding: 20px;
  background-color: #FAF9F6; 
  border-radius: 8px;
  border: 2px solid #5ec78f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.loginPage h1 {
  font-size: 1.5rem; 
  font-weight: bold;
  margin: 0; 
  text-align: center; 
  width: 100%; 
  word-wrap: break-word; 
}

.loginPage h2 {
  text-align: center;
  margin: 0.5rem 0;
  width: 100%;
}

.inputContainer {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center; 
}

.inputContainer input {
  width: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #5ec78f;
  border-radius: 5px;
  outline: none;
}

.inputContainer input:focus {
  border-color: #246844; 
}

.errorLabel {
  color: #ff0000; 
}

.loginButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #38a169; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #2b7b50; 
}
